:root {
    --color-primary: #1F1D2B;
    --text-color: #111111;
    --width-video: 1012px;
    --height-video: 570px;
}

*{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    width: 1288px;
    margin: auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-2 {
    width: 16.666667%;
}

.col-10 {
    width: 83.33333%;
}

.app {
    background-color: var(--color-primary);
    width: 100%;
}

.app_header {
    width: 1316px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0;
}

.app_header-logo {
    display: flex;
    font-weight: 700;
}

.app_header-logo span {
    color: #fff;
    font-size: 2.4rem;
}

.app_header-logo p {
    color: #59F187;
    font-size: 2.4rem;
}

.app_search {
    position: relative;
    background-color: #353340;
    width: 672px;
    height: 34px;
    border-radius: 5px;
}

.app_search-input {
    border: none;
    background-color: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    padding-left: 10px;
}

.app_search-icon {
    font-size: 1.6rem;
    position: absolute;
    color: #fff;
    top: 9px;
    right: 12px;
    
}

.app_log {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    width: 116px;
    height: 40px;
}

.app_log-icon  {
    color: var(--text-color);
    font-size: 1.4rem;
}

.app_log-link {
    color: var(--text-color);
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
}

/* sidebar */
.main-sidebar {
    display: block;
}

.sidebar-heding {
    margin-top: 8px;
    color: #fff;
    font-size: 1.4rem;
}

.sidebar-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.sidebar-list_item {
    margin: 6px 0 6px 0;
    width: 190px;
    min-height: 49px;
}

.sidebar-list_item:last-child {
    border-bottom: 1px solid #282D40;
}

.sidebar-list_item:hover {
    background-color: #C54242;
    border-radius: 8px;
}

.sidebar-list_item-link {
    display: flex;
    justify-content: flex-start ;
    text-decoration: none;
    align-items: center;
    font-size: 1.6rem;
    color: #fff;
    height: 49px;
    margin-left: 12px;
}

.sidebar-list_item-icon {
    font-size: 1.6rem;
    padding-right: 12px;
    margin-top: -2px;
}

.sidebar-contact {
    display: flex;
    flex-direction: column;
}

.sidebar-contact_heading {
    color: #fff;
    font-size: 1.6rem;
    margin-top: 38px;
    font-weight: 600;
}

.sidebar-contact_social {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: #fff;
    margin-top: 26px;
    min-height: 49px;
}

.sidebar-contact_social:hover {
    background-color: #C54242;
    border-radius: 8px;
}

.sidebar-list_item-icon  {
    font-size: 3rem;
    color: #fff;
    margin-left: 16px;
}

/* filter */
.main-content {
    background-color: #1D3042;
    border-radius: 16px;
}

.main-content_filter {
    padding: 24px 38px;
}

.main-content_filter-list {
    list-style: none;
    display: flex;
}

.main-content_filter-item {
    padding: 6px;  
    position: relative;
}

.main-content_filter-item::after {
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #fff;
    top: 8px;
    right: 0;
    height: 14px;
}

.main-content_filter-item-link {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
}

/* admin notify */
.admin-notify {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    width: 1012px;
    height: 50px;
    margin-left: 20px;
    box-shadow: 0 0 6px #000;
}

.admin-notify span {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.admin-notify p {
    color: #FFF305;
    font-weight: 600;
    font-size: 1.6rem;
}
/* movie */
.main_movie{
    width: 1012px;
}

.main_movie_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 30px;
}

.main_movie-name {
    color: #fff;
    font-size: 3rem;
}

.main_movie-episode {
    color: #FFF305;
    font-size: 2rem;
}

.main_movie_background {
    margin-left: 20px;
    margin-top: 12px;
}

/* episode */
.main-episode {

}

.main-episode_heading {
    display: flex;
    font-size: 1.6rem;
    color: #fff;
    margin-top: 64px;
    margin-left: 20px;
}

.main-episode_heading-icon {
    font-size: 1.6rem;
    color: #fff;
}

.main-episode_background {
    width: 1012px;
    background-color: #12263A;
    margin-left: 20px;
}

.main-episode_wrap {
    width: 930px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.main-episode_wrap-btn {
    width: 85px;
    height: 39px;
    font-size: 1.4rem;
    background-color: #0E2237;
    color: #fff;
    border: none;
    margin: 4px 4px;
}

.main-episode_wrap-btn.active {
    background-color: #9F2A2A;
}

.main-episode_wrap-btn:hover {
    background-color: #1A2E41;
    cursor: pointer;
}


